.theme-dark {
  --bg-primary: #252526;
  --text-primary: #CFD3DC;
  --border-primary: #4C4D4F;
  --red-1: #F56C6C;
  --red-2: #854040;
  --red-3: #2B1D1D;
  --red-active: #f78989;
  --blue-1: #409EFF;
  --blue-2: #2A598A;
  --blue-3: #18222C;
  --blue-active: #66b1ff;
  --green-1: #67C23A;
  --green-2: #3E6B27;
  --green-3: #1C2518;
  --green-active: #85ce61;
  --yellow-1: #E6A23C;
  --yellow-2: #7D5B28;
  --yellow-3: #292218;
  --yellow-active: #ebb563;
  --gray-1: #909399;
  --gray-2: #525457;
  --gray-3: #202121;
  --gray-active: #a6a9ad;
}
.theme-light {
  --bg-primary: white;
  --text-primary: black;
  --border-primary: #DCDFE6;
  --red-1: #F56C6C;
  --red-2: #FAB6B6;
  --red-3: #FEF0F0;
  --red-active: #c45656;
  --blue-1: #409eff;
  --blue-2: #a0cfff;
  --blue-3: #ecf5ff;
  --blue-active: #337ecc;
  --green-1: #67C23A;
  --green-2: #B3E19D;
  --green-3: #F0F9EB;
  --green-active: #529b2e;
  --yellow-1: #E6A23C;
  --yellow-2: #f3d19e;
  --yellow-3: #fdf6ec;
  --yellow-active: #b88230;
  --gray-1: #909399;
  --gray-2: #525457;
  --gray-3: #202121;
  --gray-active: #a6a9ad;
}
body {
  background-color: var(--bg-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
}
div.HeaderDiv {
  height: 60px;
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--border-primary);
}
.MasterTitleFont {
  color: var(--text-primary) !important;
}
table.HeaderDiv {
  position: relative;
  height: 60px;
  background-color: var(--bg-primary);
}
table.HeaderDiv a[href="http://wustl.edu"] {
  text-decoration: none;
  font-size: 24px;
  font-weight: bolder;
  transition: all 0.3s;
}
table.HeaderDiv a[href="http://wustl.edu"]:hover {
  text-shadow: 0 0 2px var(--text-primary);
}
table.HeaderDiv a[href="http://wustl.edu"]:visited {
  color: var(--text-primary);
}
table.HeaderDiv tr :first-child {
  vertical-align: middle !important;
  width: max-content !important;
  padding-left: 10px;
}
table.HeaderDiv tr #lblTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
table.HeaderDiv #ShibLogin1_HyperLink1 {
  margin-right: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue-2);
  color: var(--blue-1) !important;
  background-color: var(--blue-3);
  padding: 0;
  box-sizing: border-box;
  border-radius: 4px;
  width: 60px !important;
  height: 30px;
  transition: all 0.1s;
}
table.HeaderDiv #ShibLogin1_HyperLink1:hover {
  color: white !important;
  background-color: var(--blue-1);
  border-color: var(--blue-1);
}
table.HeaderDiv #ShibLogin1_HyperLink1:active {
  color: white !important;
  background-color: var(--blue-active);
  border-color: var(--blue-active);
}
table.HeaderDiv #ImageButton1 {
  display: none;
}
table.HeaderDiv td.HomeButtonStyle {
  padding: 0 10px 0 0;
}
table.HeaderDiv #homeLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid var(--green-2);
  color: var(--green-1);
  background-color: var(--green-3);
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.1s;
}
table.HeaderDiv #homeLabel:hover {
  color: white !important;
  background-color: var(--green-1);
  border-color: var(--green-1);
}
table.HeaderDiv #homeLabel:active {
  color: white !important;
  background-color: var(--green-active);
  border-color: var(--green-active);
}
table.HeaderDiv #HyperLink1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid var(--yellow-2) !important;
  color: var(--yellow-1);
  background-color: var(--yellow-3);
  width: 30px !important;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  transition: all 0.1s;
}
table.HeaderDiv #HyperLink1:hover {
  color: white !important;
  background-color: var(--yellow-1);
  border-color: var(--yellow-1) !important;
}
table.HeaderDiv #HyperLink1:active {
  color: white !important;
  background-color: var(--yellow-active);
  border-color: var(--yellow-active) !important;
}
table.MainMenu {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
  background-color: var(--bg-primary);
  height: 50px;
}
table.MainMenu td {
  text-align: center;
  font-size: 20px;
  width: calc(100% / 3);
  box-sizing: border-box;
  border: none !important;
}
table.MainMenu td > a {
  color: var(--text-primary) !important;
}
table.MainMenu td > a:hover {
  font-weight: normal;
  color: var(--blue-1) !important;
}
table.MainMenu div.MenuTD {
  height: 100% !important;
  background-color: transparent !important;
  border: none !important;
  padding: 0;
}
table.MainMenu div.MenuTD table {
  box-sizing: border-box;
  border-bottom: 5px solid var(--blue-1);
  height: 100% !important;
  width: 100%;
}
table.MainMenu div.MenuTD table a {
  color: var(--blue-1);
  text-decoration: none;
}
table.MainMenu div.MenuTD table a:hover {
  font-weight: normal;
}
div.SubMenu {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
  height: 55px;
  background-color: var(--bg-primary);
  border-color: var(--border-primary);
}
div.SubMenu table {
  height: 100%;
}
div.SubMenu a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--gray-2);
  border-radius: 4px;
  color: var(--gray-1) !important;
  background-color: var(--gray-3) !important;
}
div.SubMenu a:hover {
  font-weight: normal;
  color: var(--blue-1) !important;
}
div.SubMenu b {
  font-weight: normal !important;
}
div.SubMenu b a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
  font-weight: normal !important;
  color: var(--blue-1) !important;
  background-color: var(--blue-3) !important;
  border-color: var(--blue-2) !important;
}
